<h1>{{text}}</h1>
<form name="LoginForm" ng-submit="doLogin()">
	<label>User Name : <input type="text" ng-model="uName" required></label>
	<label>Password : <input type="password" ng-model="uPassword" required></label>
	<button type="submit">Login</button>
</form>
